<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.CourseMapper">
    <select id="findCourseBaseById" parameterType="java.lang.String"
            resultType="com.xuecheng.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>

        <resultMap id="CoursePicMap" type="com.xuecheng.framework.domain.course.CoursePic">
                <!-- 课程id -->
        <result column="courseid" property="courseid"/>
                <!-- 图片地址 -->
        <result column="pic" property="pic"/>
        </resultMap>

        <!--查询单个-->
    <select id="findByCourseId" resultMap="CoursePicMap" >
        select * from course_pic
        <where>
            courseid = #{id}
        </where>
    </select>


</mapper>
